.headContainer{
    display: flex;
    height: 100px;
    background-color: antiquewhite;
}
.imageContainer{
    border: 2px solid black;
    overflow: hidden;
    position: relative;
    height: 150px;
    width: 150px;
    border: none;
    margin-top: -19px;
}
.unOrderListContainer{
    border: 2px solid balck;
    overflow: hidden;
    position: relative;
    display: flex;
    margin-top: 20px;
    margin-left: 40px;
}
.unOrderlist{
    display: flex;
}
.imageLogo{
    margin-left: -100px;
    width:350px;
    height:150px;
}
.listItem{
    list-style-type: none;
    margin-right: 60px;
    display: inline-block;
    
}
._link{
    font-size: large;
    font-weight: 500;
    font-style: normal;
    text-decoration: none;
}
._link:hover{
    color: rgb(48, 48, 250);
}

